[user]
	name = Your Name
	email = you@example.com

[core]
	editor = vim
	autocrlf = input
	pager = less -FRX

[init]
	defaultBranch = main

[pull]
	rebase = false

[fetch]
	prune = true

[push]
	autoSetupRemote = true

[color]
	ui = auto

[alias]
	st = status -sb
	co = checkout
	cb = checkout -b
	br = branch
	ci = commit
	ca = commit -a
	cm = commit -m
	last = log -1 HEAD --stat
	lg = log --graph --oneline --decorate --all
